.photo-container img {
  border-radius: 50%; 
  overflow: hidden; 
  margin-top: 40px;
  margin-left: 40px;
  width: 250px; 
  height: 250px; 
}



.summary-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.summary-label {
  font-weight: bold;
  margin-right: 10px; 
}


.card {
  transition: transform 0.5s ease;
}


.card:hover {
  transform: scale(1.05); 
}

/* mode gelap dan mode terang */
.dark-mode {
  background-color: black;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}

.darkModeIcon,
.lightModeIcon {
    width: 20px;
    height: 20px;
}

@media only screen and (max-width: 768px) {
  .photo-container img {
    margin-top: 20px;
    margin-left: 20px;
  }
}

